p{
height: 10vh;

}

.header1{
background-image: linear-gradient(yellow,green);

}

.header2{
background-image:linear-gradient(rgb(240,219,27),
rgb(44,211,6),hsl(255, 40%,40%)
);
}

.header3{
   background-image:linear-gradient(to right,rgb(240,219,27),
   rgb(44,211,6),hsl(255, 40%,40%)
   );
}

.header4{
    background-image: linear-gradient(45deg, rgb(240,219,27),green,blue);
}

.header5{
    background-image: radial-gradient(
        rgb(240,219,27) 20%,
        rgb(44,211,6) 50%,
        hsl(255, 40%, 40%)
    );
}

.header6{
    background-image: repeating-radial-gradient(yellow,green 10%, blue 15%);
}