body{
font-family: "Nunito Sans";
margin: 0;
}


.navbar-mor{
background-color: #8865a7;
/* font-weight: 500; */
}

.menu a{
color: white;
text-decoration: none;
font-size: 20PX;
}

.menu{
color:white ;
position: absolute;
top: 2.5rem;
right: 1rem;
}

.menu a:hover{
color: black;
}

.navbar-turuncu{
background-color: #ffaa53;
padding: 2rem;
text-align: center;
position: sticky;
top:0 ;
}


.navbar-turuncu a{
text-decoration: none;
color: black;
font-weight: 800;
margin: 0 3rem;
}

.slack{
    background-color: red;
    width: 2rem;
    height: 2rem;
    font-size: 1.6rem;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 0.2rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

main{
    margin: 0.5rem;
}