*{
font-family: sans-serif;
}


h1{

color: rgb(139, 25, 120);

/* 
text-decoration:line-through;
text-decoration:overline;
text-decoration:underline;
text-decoration-style: dotted;
text-decoration-style:wavy;
text-decoration-style:dashed;
text-decoration-color:green; */

/*? toplu stil */

text-decoration: blue underline overline wavy 4px;

/* text-transform: capitalize;
text-transform: uppercase;
text-transform: lowercase; */
text-transform: uppercase;
text-align: center;

word-spacing: 25px;

letter-spacing: 5px;

}

p{
text-indent: 20px; 
letter-spacing: 3px;
word-spacing: 5px;
line-height: 30px;
}

li{
background-color: yellow;
}

.tatli{
list-style-position: inside;

list-style-type: "💛";

list-style-image: url(../img/arrow-right-long-solid.svg) ;

}

h3{
/* text-align: end; */
direction: rtl;
}