.article{
    .articles{
        display: flex;
        .article1{
            width: 50%;
            height: 200px;
            background-color: gray;
            border: $borderRengi;
            border-radius: 10px;
            padding: 10px;
        }

        .article2{
            @extend .article1;
            text-align: center;
            color: bisque;
        }
    }
}