

.slider{
    display: flex;
    justify-content: space-evenly;
    background-color: #cc6699;


    img{
        width: 30%;
    }

    .left{
        margin: 20px;

        button{
            border: none;
            padding: 10px;
            border-radius: 15px;
            margin: 10px;
            background-color: cadetblue;

        }
    }

}