@import "navbar","variables","slider", "extend";


.container{
    margin: 0 auto;
    width: 80%;
    background-color: burlywood;
}


@mixin kutu($kutuRengi,$yaziRengi) {
    background-color: $kutuRengi;
    color:$yaziRengi;

    width:20%;
    height: 200px;
    margin:10px;
    border:$borderRengi;
    border-radius: 10px;
    padding:10px;
    
}

.content{
    .cards{
        display: flex;
        .card1{
         @include kutu(brown,white);
        }

        .card2{
            @include kutu(#252631,white);
        }

        .card3{
            @include kutu(cadetblue,yellow);
        }

        .card4{
            @include kutu(#247482,#141414)
        }

    }
}


$test:3;

.footer{

    @if $test>3{
        background-color: brown;
    }

    @else if $test<3{
        background-color: greenyellow;
    }

    @else {
        background-color: pink;
    }

}


.socialBoxes{

    @for $i from 1 through 6 {

        .social#{$i}{
            width:10%;
            height: 20px + ($i*15);
            $renk:($i+5)*20;    

            background-color:rgb($renk,$renk,$renk);

            margin:2px+($i*2);
        }
    }
}

$temaRengi:(
    "pink":rgb(190, 111, 111),
    "red":rgb(255,5,5),
    "orange":rgb(222, 107, 13)
);

@each $i,$renk in $temaRengi{
    .container{
        &.#{$i}{
            background-color:$renk
        }
    }
}