


.dede{
background-color: aqua;
width:50%;
height:50vh;
}

.baba{
background-color: red;
/* width: 900px; */
width:50%;
height:50%;
}

.torun{
background-color: yellow;
width:50vw;
/* height:50vh; */
}


/* viewport ölçüleri parenttan bağımsız çalışır(vw=width, vh=height). % ölçü birimi element in kapsaması gereken ölçüye göre çalışır mesela bir div ne kadar yer kaplayacaksa 50% ile onun yarısını alırsınız, yada parent a bir height width verdiniz, ona göre şekillenir. px ve % =margin lerden arta kalan yeri anlar, viewport bütün ekranı (50vw=ekranın yüzde 50 si) */


.anane{
font-size:2em; /* 2em=32px */
}

.anne{
font-size:0.5em;
color: rgb(150, 30, 120);
}
.kiz{
font-size:2em ;
}

.div1{
font-size:2rem;
}

.div2{
font-size:2rem;
}

